{% extends 'StaffPage/base.html' %}

{% load static %}

{% block css %}

<!-- fullCalendar -->
<link rel="stylesheet" href="{% static 'plugins/fullcalendar/main.min.css' %}">
<style>
    .fc-daygrid-dot-event {
        display: block;
    }

    .fc-daygrid-event {
        white-space: break-spaces;
    }

    .fc .fc-scroller-liquid-absolute {
        right: -17px;
    }
</style>
{% endblock %}
{% block Title %} Calendar {% endblock Title %}
{% block breadcrumb %}
<li class="breadcrumb-item active">Calendar</li>
{% endblock breadcrumb %}

{% block content %}
<form action="{% url "ScheduleForClass" %}" method="POST">
    {% csrf_token %}
    <div class="modal fade" id="MyModalSchedule">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 id="ModalTitle" class="card-title text-bold">SCHEDULE FOR CLASS</h5>
                    <a href="#" class="close" data-dismiss="modal" aria-label="Close">&times;</a>
                </div>
                <div class="modal-body" id="myModalBodyDivSchedule">
                </div>
            </div>
        </div>
    </div>
</form>
<!-- Main content -->
<section class="content">
    <div class="card">
        <div class="card-header">
            <a href="#" onclick='Schedule()' class="btn btn-sm btn-success">Generate Schedule</a>
        </div>
        <div class="card-body" style="height: 750px">
            <!-- THE CALENDAR -->
            <div id="calendar"></div>

        </div>
        <!-- /.col -->
    </div>
</section>

<!-- /.content -->

<!-- ./wrapper -->
{% endblock %}

{% block js %}
<!-- fullCalendar 2.2.5 -->
<script src="{% static 'plugins/moment/moment.min.js' %}"></script>
<script src="{% static 'plugins/fullcalendar/main.min.js' %}"></script>
<!-- Page specific script -->
<script>
    var Schedule = function () {
        var url = "{% url "ScheduleForClass" %}";
        $("#myModalBodyDivSchedule").load(url, function () {
            $("#MyModalSchedule").modal();
        });
    };
    $(function () {
        /* initialize the calendar
         -----------------------------------------------------------------*/
        //Date for the calendar events (dummy data)
        var date = new Date()
        var d = date.getDate(),
            m = date.getMonth(),
            y = date.getFullYear()

        var Calendar = FullCalendar.Calendar;

        var calendarEl = document.getElementById('calendar');
        var dict = []
        {% for item in result %}
        {% if  item.Date != None %}
        dict.push({
            title          : '{{ item.Trainer }}\n{{ item.Classroom }}_{{ item.Class }}_{{ item.Code }}',
            start          : new Date({{ item.Date|date:'Y,m-1,d' }}, {{ item.StartTime|time:"H,i" }}),
            end            : new Date({{ item.Date|date:'Y,m-1,d' }}, {{ item.EndTime|time:"H,i" }}),
            allDay         : false,
            backgroundColor: '#sdew12', //yellow
            borderColor    : '#sdew12',//yellow#
        });
    {% endif %}
    {% endfor %}
    // initialize the external events
    // -----------------------------------------------------------------
    // Declare a new array
    let newArray = [];

    // Declare an empty object
    let uniqueObject = {};

    // Loop for the array elements
    for (let i in dict) {

        // Extract the title
        objTitle = dict[i]['title', 'start', 'end'];

        // Use the title as the index
        uniqueObject[objTitle] = dict[i];
    }

    // Loop to push unique object into array
    for (i in uniqueObject) {
        newArray.push(uniqueObject[i]);
    }

    var calendar = new Calendar(calendarEl, {
        headerToolbar: {
            left: 'prev,next today',
            center: 'title',
            right: 'dayGridMonth,timeGridWeek,listWeek'
        },
        initialView: 'dayGridMonth',
        height: '100%',
        themeSystem: 'bootstrap',
        //Random default events
        events: newArray,
    });
    calendar.render();
  })

</script>


{% endblock %}