{% load static %}
    <!-- Main content -->
<section class="content">
    <div class="container">
        <form action="{% url 'UpdateClass' class.Name %}" method="POST" id="classes_form" >
            {% csrf_token %}

            <div class="card">
                <div class="card-body">
                    <div class="form-group">
                        <label for="Class">Class</label>
                        <input type="text" class="form-control form-control-sm" name="Name"
                               value="{{ class.Name }}" id="Class" placeholder="Enter class name">
                    </div>
                    <div class="form-group">
                        <label for="StartDate">Start Day</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="far fa-calendar-alt"></i></span>
                            </div>
                            <input type="text" readonly class="form-control form-control-sm"
                                   value="{{  class.StartDate|date:'d/m/Y' }}">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="IsActive">Status</label>
                        <div class="custom-control custom-switch custom-switch-off-danger custom-switch-on-success">
                            <input type="checkbox" class="custom-control-input" name="IsActive"
                                    {% if class.IsActive %} checked {% endif %} id="IsActive">
                            <label class="custom-control-label" for="IsActive"></label>
                        </div>
                    </div>

                </div>
            </div>
            <button type="submit" class="btn btn-primary btn-sm" name="_Save">Save</button>
            <!-- /.nav-tabs-custom -->
        </form>
    </div><!-- /.container-fluid -->
</section>