{% extends 'registration/base.html' %}
{% block content %}
<div class="card-body login-card-body">
    <p class="login-box-msg">Please enter your email to reset password.</p>

    <form method="post">
        {% csrf_token %}
        <div class="form-group">
            <input type="email" name="email" id="email" placeholder="Email"
                class="form-control form-control-sm">
        </div>
        <button type="submit" class="btn btn-block btn-primary">Next</button>
    </form>

    <!-- /.social-auth-links -->

</div>
{% endblock content %}